* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}


.hero {
    background-color: white;
    color: black;
    padding: 20px 0;
    width: 100%;
}

.hero a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.banner {
    position: relative;
    background-color: #0943FF;
    color: white;
    padding: 100px 0;
    width: 100%;
    overflow: hidden;
    min-height: 250px;

    display: flex;
    align-items: center; 
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(10, 67, 255, 0.8); 
    z-index: 2;
}

.banner .container {
    position: relative; 
    z-index: 3;
    width: 100%; 
    text-align: left;
}

.banner-title {
    font-size: 35px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    aspect-ratio: 16/10;
    background-color: #f0f0f0; 
    border-radius: 4px;
    overflow: hidden;  
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    margin-top: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.card-desc {
    margin-top: 5px;
    font-size: 15px;
    line-height: 1.4;
    color: #444; 
}

.footer {
    background-color: #0943FF;
    color: white;
    padding: 30px 0;
    width: 100%;
    text-align: center; 
    margin-top: auto; 
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
        width: 100%;
        
    }
    .container + .footer {
        margin-top: 15px;
    }
    .banner {
        padding: 50px 0;
        min-height: 150px;
    }

    .banner-title {
        font-size: 30px; 
        width: 100%;
    }
    .grid {
        grid-template-columns: 1fr; /*clb cho thành một hàng cho đẹp*/
        gap: 20px;
        padding-top: 20px;
    }

    .card-title {
        font-size: 18px;
        margin-top: 12px;
    }

    .card-desc {
        font-size: 14px;
    }

    .hero {
        padding: 15px 0;
    }

    .hero a {
        font-size: 16px;
    }
}